  #prev {
    margin-top: 20px;
    text-align: center;
    font-size: 200%;
  }

  #ask {
    font-size: 150%;
  }

  #body {
    margin-top:5%;
    margin-left: 25%;
  }

  #about {
    margin-top:10px;
    margin-left: 20px;
    font-size: 110%;
    width: 600px;
  }
</style>
